* {
  margin: 0px;
  padding: 0px;
  color: #253F3F;
  font-family: 'Mitr', sans-serif;
}

a {
  text-decoration: none;
}

header,
aside,
nav,
main,
section,
article,
footer {
  display: block;
}


main {
  height: 90vh;
  padding: 20px;
  font-size: 16px;
  overflow: hidden;
  display: flex;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  line-height: 1;
}

.social {
  display: flex;
  flex-flow: row;
  gap: 1vw;
}

.social a,
section>a {
  color: #999;
  margin-right: 7px;
  transition: 0.4s linear;
}

.social a:hover {
  color: white;
}

.container {
  width: 65vw;
  height: 100%;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.button {
  text-decoration: none;
  width: 120px;
  height: 50px;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 3;
  line-height: 50px;
  padding-left: 30px;
  transition: 0.4s linear;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 20px solid #C4DFDF;
  border-right: 20px solid transparent;
}

.button:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
}

.fa {
  color: #7A9393;
  transition: 0.4s linear;
}

.home:hover,
.close:hover,
.fa:hover,
section>a:hover {
  color: #C4DFDF;
}

.home,
.close {
  color: #7A9393;
  font-size: 20px;
}

.flipper {
  border: 10px solid rgba(255, 255, 255, 0.2);
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.7s linear;
}

.front,
.back {
  font-family: "Cabin", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F8F6F4;
  backface-visibility: hidden;
  padding: 15px;

}

.front {
  z-index: 2;
  transform: rotateX(0deg);
}

.back {
  transform: rotateX(-180deg);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.flipper:target {
  transform: rotateX(180deg);
}

.inner {
  padding: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

.front>section {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5%;
  padding-right: 15px;
}

.front>section>p {
  width: 70%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.content>button,
.cv {
  background-color: #C4DFDF;
  color: #253F3F;
  transition: 0.4s linear;
  border: 1px solid #C4DFDF;
}

.contact {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.cv {
  padding: 10px 16px;
  border-radius: 10px;
}

.cv:hover,
.content button:hover {
  background-color: transparent;
  color: #253F3F;
  border: 1px solid #C4DFDF;
}

.content button {
  margin: 15px 0 15px;
  font-weight: 900;
  padding: 5px;
}

.cards {
  display: flex;
  width: 350px;
  height: 350px;
}

.shenkar {
  font-size: 11px;
  color: #253F3F;
  justify-self: self-end;
}

/* Project Cards */

.innerCon>h2 {
  text-align: center;
}

.content>img {
  width: 100px;
  filter: brightness(0) invert(1);
}

#projList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 5vw;
  padding: 10px 0px;
}

.card {
  background-color: #f8f6f4;
  border: none;
}

.card .face {
  width: 300px;
  height: 200px;
  overflow: hidden;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #253F3F;
  z-index: 1;
  transform: translateY(100px);
}

.card:hover .face.face1 {
  transform: translateY(0);
  background: #C4DFDF;
}

.card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.card .face.face1 .content h3 {
  color: #fff;
  text-align: center;
}

.card:hover .face.face1 .content {
  opacity: 1;
}

.card .face.face2 {
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.card:hover .face.face2 {
  transform: translateY(0);
}

.modal-body img {
  width: 400px;
  height: 150px;
}

.modal-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.modal-body>section {
  display: flex;
  flex-flow: column;
  width: 400px;
}

.modal-body a {
  color: #253F3F;
}

.modal-body a:hover {
  color: #C4DFDF;
}

/* Tablet */

@media (max-width: 768px) {
  main {
    height: 90vh;
  }

  h1 {
    font-size: 3em;
    white-space: normal;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 14px;
  }

  .container {
    width: 90vw;
  }

  .modal-body {
    flex-flow: column wrap;
    gap: 15px;
  }

  .modal-body>img {
    width: 250px;
  }

  .modal-body p {
    width: 260px;
  }

}