* {
    margin: 0px;
    padding: 0px;
    color: #253F3F;
    font-family: 'Mitr', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    margin: 0;
    height: 70vh;
    padding: 20px;
    font-size: 16px;
    overflow: hidden;
    display: flex;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    /* font-family: "Playfair Display, serif; */
    line-height: 1;
}

.share-block {
    padding-right: 15px;
    line-height: 50px;
}

.share-block a {
    color: #999;
    margin-right: 7px;
    transition: 0.4s linear;
}

.share-block a:hover {
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.button {
    text-decoration: none;
    width: 120px;
    height: 50px;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 3;
    line-height: 50px;
    padding-left: 30px;
    transition: 0.4s linear;
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #C4DFDF;
    border-right: 20px solid transparent;
}

.button:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-right: 20px solid transparent;
}

.fa {
    color: #7A9393;
    transition: 0.4s linear;
}

.home:hover,
.close:hover,
.fa:hover {
    color: #C4DFDF;
}

.home,
.close {
    color: #7A9393;
    font-size: 20px;
}

.flipper {
    border: 10px solid rgba(255, 255, 255, 0.2);
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.7s linear;
}

.front,
.back {
    font-family: "Cabin", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F8F6F4;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateX(0deg);
}

.back {
    transform: rotateX(-180deg);
    color: white;
}

.flipper:target {
    transform: rotateX(180deg);
}

.inner {
    padding: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

#innerCon {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 5%;
}

#innerCon>p {
    width: 70%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.cv {
    background-color: #C4DFDF;
    color: #253F3F;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    transition: 0.4s linear;
    border: 1px solid #C4DFDF;
}

.cv:hover {
    background-color: transparent;
    color: #253F3F;
    border: 1px solid #C4DFDF;
}

.cards {
    display: flex;
    width: 350px;
    height: 350px;
}

.shenkar {
    font-size: 11px;
    color: #253F3F;
    justify-self: self-end;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
        white-space: normal;
    }
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 14px;
    }
}